<div class="container">
    <div class="content">
      <h1 class="title">{{ title }}</h1>
      @if(post){
        <div class="content-details">
          @for (content of post.content; track content) {
            @switch (content.type) {
              @case ("heading") {
                <h2 class="subtitle">{{ content.content }}</h2>
              }
              @case ("text") {
                <p>{{ content.content }}</p>
              }
              @case ("image") {
                <figure class="image-container">
                  <img class="main-image" [src]="content.content">
                </figure>
              }
            }
          }
        </div>
      }
    </div>
  </div>
  