<main class="main-section">
    <div class="container">
      @if(featuredPost){
        <app-featured-article
        [date]="featuredPost.metadata.date"
        [title]="featuredPost.title"
        [description]="featuredPost.metadata.description"
        [postUrl]="'/post/' + featuredPost.id"
        [author]="featuredPost.metadata.author"
      ></app-featured-article>
      }
      <div class="additional-articles">
        <div class="additional-articles__list">
          @for (post of posts; track post) {
            <app-common-article
              [date]="post.metadata.date"
              [title]="post.title"
              [link]="'/post/' + post.id"
              [description]="post.metadata.description"
              [author]="post.metadata.author"
          ></app-common-article>
          }
        </div>
      </div>
    </div>
</main>